
@media (min-width: 992px) and (max-width: 1400px){

}
@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 576px) and (max-width: 767px){

}
@media (min-width: 401px) and (max-width: 575px){

}
@media (max-width: 400px){
   /* nav */
   .navbar-brand span{
       display: none;
   }
   /* nav */

   /* pleasure */
   .pleasure-img img{
       mrb: 20px;
   }
   /* pleasure */

   /* package */
  
   /* package */

   /* client */
    .client-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
   /* client */

   /* client */
   .gallery-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}
   /* client */



}