
@media (min-width: 992px) and (max-width: 1400px){

}
@media (min-width: 768px) and (max-width: 991px){
     /* client part start*/
     .client-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
   /* client part end*/
   
       /* pleasure part start*/
     .pleasure-space{
        margin-top: 20px;
    }
  /* pleasure part end*/

   /* gallery part start */
   .gallery-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
   /* gallery part end */
      /* frequently asked part start*/
      .accordion-item{
        margin-bottom: 50px;
      }
      /*frequently asked part start*/
}

@media (min-width: 576px) and (max-width: 767px){
      /* client part start*/
      .client-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
   /* client part end*/

     /* pleasure part start*/
     .pleasure-space{
        margin-top: 20px;
    }
  /* pleasure part end*/

   /* gallery part start */
   .gallery-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
   /* gallery part end */

      /* frequently asked part start*/
      .accordion-item{
        margin-bottom: 50px;
      }
      /*frequently asked part start*/

}
@media (min-width: 401px) and (max-width: 575px){
      /* client part start*/
      .client-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
   /* client part end*/

/* pleasure part start*/
.pleasure-space{
    margin-top: 20px;
}
/* pleasure part end*/

   /* gallery part start */
   .gallery-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
   /* gallery part end */

      /* frequently asked part start*/
      .accordion-item{
        margin-bottom: 50px;
      }
      /*frequently asked part start*/

}
@media (max-width: 400px){
   /* navbar part start */
   .navbar-brand span{
       display: none;
   }
   /* navbar part start */


   /* pleasure part start*/
     .pleasure-space{
         margin-top: 20px;
     }
   /* pleasure part end*/

   /* frequently asked part start*/
   .accordion-item{
     margin-bottom: 50px;
   }
   /*frequently asked part start*/

   /* client part start*/
    .client-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
   /* client part end*/

   /* gallery part start */
   .gallery-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
   /* gallery part end */



}