
@media (min-width: 992px) and (max-width: 1199px){
  .package-card-bg{
    margin: 0px 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
     /* client part start*/
     .client-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
   /* client part end*/
   
       /* pleasure part start*/
     .pleasure-space{
        margin-top: 20px;
    }
  /* pleasure part end*/

   /* gallery part start */
   .gallery-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
   /* gallery part end */
      /* frequently asked part start*/
      .accordion-item{
        margin-bottom: 50px;
      }
      /*frequently asked part start*/
       /* package part end */
   .package-card-bg{
    margin-bottom: 70px;
  }
  /* package part end */
     /* footer part start */
     .footer-link{
      margin-bottom: 20px;
    }
    /* footer part end */
}

@media (min-width: 576px) and (max-width: 767px){
      /* client part start*/
      .client-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
   /* client part end*/

     /* pleasure part start*/
     .pleasure-space{
        margin-top: 20px;
    }
  /* pleasure part end*/

   /* gallery part start */
   .gallery-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
   /* gallery part end */

      /* frequently asked part start*/
      .accordion-item{
        margin-bottom: 50px;
      }
      /*frequently asked part start*/

       /* package part end */
   .package-card-bg{
    margin-bottom: 80px;
  }
  /* package part end */
     /* footer part start */
     .footer-link{
      margin-bottom: 20px;
    }
    /* footer part end */

}
@media (min-width: 401px) and (max-width: 575px){
      /* client part start*/
      .client-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
   /* client part end*/

/* pleasure part start*/
.pleasure-space{
    margin-top: 20px;
}
/* pleasure part end*/

   /* gallery part start */
   .gallery-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
   /* gallery part end */

      /* frequently asked part start*/
      .accordion-item{
        margin-bottom: 50px;
      }
      /*frequently asked part start*/

       /* package part end */
   .package-card-bg{
    margin-bottom: 80px;
  }
  /* package part end */

}
@media (max-width: 400px){
   /* navbar part start */
   .navbar-brand span{
       display: none;
   }
   /* navbar part start */


   /* pleasure part start*/
     .pleasure-space{
         margin-top: 20px;
     }
   /* pleasure part end*/

   /* frequently asked part start*/
   .accordion-item{
     margin-bottom: 50px;
   }
   /*frequently asked part start*/

   /* client part start*/
    .client-card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
   /* client part end*/

   /* gallery part start */
   .gallery-img {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
   /* gallery part end */

   /* package part end */
   .package-card-bg{
     margin-bottom: 80px;
   }
   /* package part end */

   /* toast part start */

   /* toast part end */

   /* footer part start */
   .footer-link{
     margin-bottom: 20px;
   }
   /* footer part end */
    


}