
/*---------|---google font link--|-----------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Oswald:wght@300;400&family=Poppins:wght@400;500;600;700&display=swap');
/*---------|---google font lin--|-----------*/

/*---------|---common css start--|-----------*/
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
a,a:hover{
    display: inline-block;
    text-decoration: none;
}
ul,li,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0px;
    padding: 0px;
}
img{
    vertical-align: middle;
}
body{
    overflow-x: hidden;
}
.btn-color{
    background-color: #E6425E;
    transition: linear .4s;
}
h4,h5,p,li{
    font-family: 'Poppins', sans-serif;
}
/*---------|---common css end--|-----------*/

/*---------|---navbar part css start--|-----------*/
.navbar-brand h3{
    font-family: 'Poppins', sans-serif;
    color: #3E3E3E;
    font-size: 22px;
}
.navbar-nav li a{
    font-family: 'Poppins', sans-serif;
    color: #3E3E3E;
    font-size: 16px;
}
/*---------|---navbar part css end--|-----------*/

/*---------|---banner part css start--|-----------*/
.banner-text h5{
    line-height: 48px;
    font-weight: 600;
}
.banner-text p{
    line-height: 24px;
    font-size: 16px;
}
.btn-color:hover{
   background-color: #23C4ED;
   color: #000;
}
/*---------|---banner part css end--|-----------*/

/*---------|---pleasure part css start--|-----------*/
#pleasure{
  padding: 100px 0px;
}
/*---------|---pleasure part css end--|-----------*/

/*---------|---package part css start--|-----------*/
  #package{
      padding-bottom: 100px;
  }
  .list-checkbox li{
      padding-bottom: 10px;
  }
  .list-checkbox li i{
    font-size: 8px;
    color:  #5243C2;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    text-align: center;
    line-height: 16px;
    background-color: #d1d1d1;
    vertical-align: middle;
    margin-right: 5px;
  }
  .package-card-bg{
      border-radius: 26px;
      position: relative;
      cursor: pointer;
  }
  .package-card-bg:after{
      position: absolute;
      padding: 5px 20px;
      background-color: #E03B8B;
      content: "hot";
      border-radius: 20px;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      text-transform: capitalize;
      font-family: 'Poppins', sans-serif;
      vertical-align: middle;
      color: #fff;
      font-weight: 700;
      opacity: 0;
      transition: linear .4s;
  }
  .package-card-bg:hover{
      background-color: #3F87F5;
      color: #fff;
      transition: linear .4s;
      transform: translateY(-80px);
  }
  .package-card-bg:hover:after{
    opacity: 1;
  }
/*---------|---package part css end--|-----------*/



